<h1>Epic Bin</h1>

<p>Enter your postcode to check your refuse and recycling collections.
Enter your Twitter username to get a tweet when it's time to put the bin out.</p>

<form method="get" action="check">

<%= label_tag :postcode %>
<%= text_field_tag :postcode, params[:postcode] %>
<br />
<%= label_tag :twitter_username %>
<%= text_field_tag :twitter_username, params[:twitter_username] %>
<br />
<input type="submit" value="Check" />


</form>
